/* CSS Reset */
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  /* background-color: black; */
}
.verthead {
  /* background-color: lightgreen; */
  background-color: black;
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  height: 100vh;
  width: 11vw;
  position: fixed;
}
.icontile {
  /* background-color: lightsalmon; */
  text-align: center;
  font-size: 14px;
  margin: 6px;
  padding: 15px 4px;
  border-radius: 5px;
  height: 80px;
  color: white;
  text-decoration: none;
}
.icontile:hover {
  background-color: rgb(71, 71, 71);
  /* text-shadow: 0px 0px 15px white; */
  box-shadow: 1px 1px 1px red;
  transition: all 0.2s;
  scale: 1.1;
}
.vheadicons {
  height: 30px;
}
.horizontalhead {
  display: flex;
  width: 89vw;
  float: right;
  /* position:sticky; */
  /* height: 10vh; */
  /* background-color: pink; */
  background-color: black;
  /* justify-content: space-between; */
}
.topleft {
    /* margin-right: 30px; */
    width: 25vw;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: black;
    padding: 8px 5px;
    border-radius: 10px;
    margin: 2px 5px;
    overflow: hidden;
}
/* .topleft:hover{
    background-color: rgb(50, 50, 50);
    transition: all 0.2s;
} */
#ytlogo {
    height: 50px;
}
.topleft>div{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 700;
}
.topleft>div>sup{
    font-size: 20px;
}
.hheadicon {
  height: 30px;
}
.searchbar {
/* background-color: lightblue; */
background-color: black;
width: 48vw;
display: flex;
justify-content: space-between;
padding: 5px 60px;
}
#searchtxt {
    height: 40px;
    width: 22vw;
    padding: 8px;
    color: white;
    background-color: black;
    border: 3px solid white;
    border-right: 1px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#searchtxt:hover{
    background-color: rgb(50, 50, 50);
}
.searchtxtmic{
    display: flex;
    align-items: center;
}
.inpbtn {
    background-color: transparent;
    /* background-color: blue; */
}
#searchtxt{
    font-weight: 600;
}
#searchicon{
    background-color: black;
    box-sizing: content-box;
    margin-top: 3px;
    padding: 3px 8px;
    height: 29px;
    border: 3px solid white;
    border-left: 1px solid white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#searchicon:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
#micicon{
    background-color: black;
    padding: 2px;
    box-sizing: content-box;
    border-radius: 50%;
    border: 2px solid white;
}
#micicon:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
.hheadright {
  /* background-color: green; */
  background-color: black;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  padding-left: 60px;
}
.hhricon{
    box-sizing: content-box;
    padding:8px;
    border-radius: 50%;
    
}
.hhricon:hover{
    background-color: rgb(50, 50, 50);
}
.msg{
    background-color: rgb(62, 62, 62);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 89vw;
    float: right;
}
.content{
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    float: right;

    /* height: 100%; */
    /* height: 75vh; */
    /* overflow: scroll; */
}

/* Video Tiles Settings */

section{
    display: flex;
}
.vdotile{
    background-color: black;
    /* background-color: white; */
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
width: 28vw;
}
.vdothumbnail{
/* height: 180px; */
/* width: 28vw; */
width: 100%;
height: 200px;
border-radius: 8px;
}
.vdothumbnail:hover{
    scale: 1.06;
    transition: all 0.2s ;
}
.details{
display: flex;
align-items: center;
}
.details>div{
    font-size: 15px;
    margin: 5px;
}
.details>div>span{
    font-size: 10px;
}
.cname:hover{
    cursor: pointer;
}
.channellogo{
border-radius: 50%;
width: 3vw;
height: 3vw;
margin: 5px;
cursor: pointer;
}
#whitedisc{
    font-size: 8px;
}
.v3dotmenu{
    height: 25px;
    margin-left: 15px;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.v3dotmenu:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}