* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(255, 252, 224);
}

.top1 {
    background-color: #131921;
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    align-items: center;
    /* padding: 9px; */


}

#amazonlogo {
    height: 45px;
    /* margin: 8px 5px; */
    margin-left: 8px;
    margin-top: 10px;
    padding: 5px;
    /* align-items: center; */
}

.address {
    display: flex;
    flex-direction: row;
    /* margin: 5px 5px; */
    align-items: center;
    padding: 5px;
}

.locicon {
    height: 35px;
}

.locationaddress {
    color: white;
}

#searchbar {
    display: flex;
    /* width: 70%; */
    width: 45vw;
    height: 48px;
    padding: 3px;
}

#category {
    width: 36%;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: lightgray;
}

#searcharea {
    padding: 5px;
    width: 90%;
}

#searchicon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FEBD69;
    width: 10%;
}

#searchiconpic {
    height: 30px;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#flagicon {
    filter: invert(1);
    height: 35px;
    width: 35px;

}

#langopt {
    height: 40px;
    border-radius: 2px;
}

.user {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8px;
}

#usericon {
    filter: invert(1);
    height: 30px;
}

.returns {
    color: white;
    padding: 8px;
}

#carticon {
    filter: invert(1);
    height: 55px;
    padding: 8px;
}

.hvr:hover {
    border: 2px solid rgb(255, 254, 237);
    border-radius: 2px;
    cursor: pointer;
    /* Purposely didn't put anchor tags because I'm Lazy. */
}

.top2 {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 40px;
    background-color: rgb(15, 32, 46);
    align-items: center;
}

.top2 a {
    text-decoration: none;
    color: white;
}

.top2 li:hover {
    color: white;
    text-decoration: underline;

}

.bgimgdiv {
    overflow: hidden;
}

/* .bgimage {
height: 200px; 
background-size: cover;
Image after nav bar <div class="bgimgdiv">
<img src="Photos/img for bg.jpg" alt="BG Image" class="bgimage">
</div>*/
.warning {
    font-size: 36px;
    font-weight: 600;
    background-color: lightcyan;
    text-shadow: 2px 3px 8px orangered;
    padding: 20px;

}

.sectionhead1 {
    display: block;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding: 10px 25px;
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 204, 255);
    /* background-color: rgb(0, 30, 255); */
    background-image: url(Photos/cpuwallpaper.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

.section1 {
    display: flex;
    /* height: 500px; */
    /* background-color: green; */
    overflow: scroll;
    /* background-color: rgb(0, 30, 255); */
    background-image: url(Photos/cpuwallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item {
    padding: 15px;
    margin: 5px;
    background-color: rgba(94, 204, 255, 0.579);
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1.1rem;
    /* border: 2px solid yellowgreen; */
}

.lname a {
    text-decoration: none;
    color: black;
}

.lname a:hover {
    color: white;
    text-shadow: 0px 0px 25px blue;
}

.lname {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-decoration: underline;
}

.laptopphoto {
    height: 250px;
    border-radius: 5px;
    /* visibility: hidden; */
    margin: 25px 0px;
}

.laptopphoto:hover {
    scale: 1.08;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(13, 0, 255);
    /* margin: 5px; */
}

.price {
    font-size: 1.15rem;
    font-weight: 700;
}

.section2 {
    /* height: 500px; */
    /* background-color: brown; */
    /* background-color: rgb(32, 32, 32); */
    background-image: url(Photos/darkbgimage.jpg);
    background-position: center;
    color: white;
    text-align: center;
    /* display: flex; */
}

.itemlist {
    display: flex;
    margin: 5px 8px;
    padding: 5px;
    overflow: scroll;

}

.fnftitle {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding: 10px 25px;
    text-shadow: 2px 2px 10px rgb(174, 174, 174);
}

.itemcard {
    padding: 15px;
    margin: 5px;
    /* width: 250px; */
    background-color: rgba(41, 41, 41, 0.73);
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 1.1rem;
    
}

.name a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.name a:hover {
    color: black;
    text-shadow: 0px 0px 25px white;
}

.clothphoto {
    height: 250px;
    border-radius: 5px;
    /* visibility: hidden; */
    margin: 25px 0px;
}

.clothphoto:hover {
    scale: 1.08;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 15px white;
}

.bttbtn {
    /* width: 85; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}

.bttbutton {
    background-color: #131921;
    color: white;
    width: 95%;
    font-size: 25px;
    margin: 20px 5px;
    padding: 5px 5px;
    border-radius: 5px;
}

.upicon {
    filter: invert(1);
    height: 25px;
    margin: 5px;
}

.bttbutton:hover {
    background-color: rgb(176, 176, 176);
    color: black;
    box-shadow: 5px 5px black;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;

}

.creditshead {
    text-align: center;
    background-color: #131921;
    color: white;
    font-size: 1.1rem;
    font-weight: 550;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.creditslist {
    display: flex;
    width: 90vw;
    /* align-items: center; */
    /* background-color: lightblue; */
    margin: auto;
    padding-bottom: 15px;
    justify-content: space-evenly;
}

.list1 {
    width: 30%;
}

.list1 a {
    text-decoration: none;
    color: white;
}

.list1 ul li {
    list-style: none;
    margin-top: 4px;
    cursor: pointer;
    /* Again not putting Actual Links because of Laziness */
}

.list1head {
    font-weight: bold;
    text-decoration: underline;
}

.list2 {
    width: 30%;
}

.list2 a {
    text-decoration: none;
    color: white;
}

.list2 ul li {
    list-style: none;
    margin-top: 4px;
    cursor: pointer;
    /* Again not putting Actual Links because of Laziness */
}

.list2head {
    font-weight: bold;
    text-decoration: underline;
}

.list3head {
    width: 30%;
    font-weight: 600;
}

.last {
    display: flex;
    justify-content: space-evenly;
    /* margin: 10px 0px; */
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-top: 2px dashed white;
}

.lastlogo {
    width: 200px;
    margin: 5px;
}

.lasttext a {
    text-decoration: none;
    color: white;
}

.lasttext {
    font-size: 20px;
    justify-content: center;
}

.smediaicon {
    filter: invert(1);
    height: 45px;
}